body{
    background-color: #b2b5b8;
}
.container {
    width: 40vw;
    height: 40vw;
    margin: auto;
    background-image: url(img/clock.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

#hour,
#minute,
#second {
    background-color: black;
    position: absolute;
    border-radius: 5px;
    left: 49.39%;
    transform-origin: bottom;
}

#hour {
    
    height: 30%;
    width: 1%;
    top: 20%;
}

#minute {
    height: 36%;
    width: 1%;
    top: 14%;
}

#second {
    height: 28%;
    width: 1%;
    opacity: .1;
    top: 21.5%;
}